@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.Chat {
  height: 100vh;
  display: flex;
  font-family: 'Roboto', sans-serif;
  position: relative;
}
  
#chat-container {
    border: 1px solid #ccc;
    border-radius: 14px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    flex-grow: 1;
    height: 100vh;
}


@media (max-width: 1024px){
	.Chat{
	    height: 90vh;
	}
	#chat-container{
		height: 90vh;
	}
}

@media (max-width: 767px) {
	.Chat{
	    height: 90vh;
	}
	#chat-container{
		height: 90vh;
	}
}

  
.message {
  padding: 10px;
  margin-bottom: 10px;
  min-width: 33vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.message-sent {
  background-color: #72b24d;
  color: white;
  padding: 10px;
  align-self: flex-end;
  border-radius: 15px 15px 0 15px ;
}

.message-received {
  align-self: flex-start;
  background-color: #1a2077;
  padding: 10px;
  border-radius: 15px 15px 15px 0 ;
}

  
.msg-input {
  margin-top: 10px;
}
  
.input-field {
  width: 70%;
  padding: 5px;
  bottom: 0;
  align-items: end;
  border-radius: 10px;
  width: 90% ;
}
  
.send-button {
  width: 5%;
}
  
.send-button:hover {
  opacity: 0.7;
}

#chat-container::-webkit-scrollbar {
  width: 8px;
}
  
#chat-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
  
#chat-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.channels-list::-webkit-scrollbar {
  width: 8px;
}

.channels-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.channels-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.selected {
  background-color: #555;
  color: white;
  font-weight: bold;
}

.channel{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.channel:hover{
  background-color: #888;
  cursor: pointer;
}

.list-container{
  height: 94%;
  overflow-y: scroll;

}

.list-container::-webkit-scrollbar {
  width: 8px;
}

.list-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.list-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.channels-list {
	width: 160px;
	border: 1px solid #ccc;
	overflow-y: scroll;
	padding: 10px;
	position: relative;
	transition: max-width 0.7s ease-in-out, opacity 0.7s ease-in-out;
	max-width: 100%; 
	padding-right: 0;
  border-radius: 14px;
}


.channels-list.collapsed {
	max-width: 0; 
	padding: 0;
	opacity: 0;
	/* display: none; */
}

.create-channel-button {
  position: absolute;
  bottom: 0;
  border-radius: 10px;
}


.choose-channel-button:hover{
  cursor: pointer;
  background-color: #888;
}

#msg-container{
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#msg-container::-webkit-scrollbar {
    width: 8px;
}
  
#msg-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}
  
#msg-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.message-time{
  font-size: 12px;
}

.button-container {
	display: flex;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 5%;
	margin-left: 10px;
	background-color: #555;
	border-radius: 15px;
	min-width: 90%;
}


.bar-button{
  border: none;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  width: 25%;
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.3s ease-in-out;
}

.bar-button:hover {
  transform: translateY(-5px);
}


.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.user:hover {
  background-color: #888;
}

.add-friend {
  background: url('../src/assets/add_friend.svg') no-repeat;
  border: none;
  background-size: contain;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.friend-remove{
  background: url('../src/assets/remove_friend.svg') no-repeat;
  border: none;
  background-size: contain;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.channel-button {
  background-image: url('../src/assets/channels.svg');
}
.people-button {
  background-image: url('../src/assets/user.svg');
}

.new-button {
  background-image: url('../src/assets/new_message.svg');
}

.search-button {
  background-image: url('../src/assets/search.svg');  
}

.searchcontainer{
  height: 94%;
  overflow-y: scroll;

}

.searchcontainer::-webkit-scrollbar {
  width: 8px;
}

.searchcontainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.searchcontainer::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.search-input-container {
  display: flex;
  position: absolute;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5%;
  border-radius: 15px;
  margin-left: 10px;
  max-width: 200px;
  background-color: #555;
}


.search-input {
  padding: 5px;
  margin: 0 2px;
  border: none;
  width: 60%;
}

.back-button {
  background-image: url('../src/assets/back.svg');
  border: none;
  background-color: #555;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.3s ease-in-out;
  height: 32px;
  width: 32px;
}

.list-header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ffffff;
  vertical-align: middle;
  line-height: 40px;
  font-weight: bold;
}

.send-search-button{
  background-image: url('../src/assets/search.svg');  
  background-size: contain;
  background-repeat: no-repeat;
  background-color:#6D9E67;
  border: none;
  outline: none;
  padding: 5px;
  cursor: pointer;
  color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 3px;
}


.highlighted {
  border-bottom: 2px solid #999;
}

.tooltip {
  position: relative;
  display: inline-block;
  overflow: visible; 
  width: 100%; 
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: fixed;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  padding: 15px;
  left: 490px;
}

@media (max-width: 767px) {
  .tooltip .tooltiptext {
    left: 47%;
    right: auto;
  }
}


@media (max-width: 1024px) {
  .tooltip .tooltiptext {
    left: 400px;

  }
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  color: #333;
}

.modal-content {
	border-radius: 20px;
	background-color: #fefefe;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	padding: 20px;
	padding-top: 0px;
	border: 1px solid #888;
	width: 100%;
	max-width: 400px; 
	border-radius: 20px;
}


.invitedUsersList {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #333;
}

.invitedUsersList:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}



.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.next {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.next:hover{
  background-color: #0056b3;
}

.next:focus,
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.user_options {
  display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

.user_options:hover{
	background-color: #888;
}

.user_options:active{
	background-color: #555;
}


.unread-messages{
	background-color: rgb(243, 25, 25);
	width: 20px;
	height: 20px;
	color: whitesmoke;
	border-radius: 50%;
	padding: 5px;
	text-align: center;
}

.channel-info{
  align-items: center;
  justify-content: center;
}

.chat-container-header{
	display: inline-flex;
}

.hamburguer-button,
.full-hamburguer-button {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	width: 4%;
	height: 100%;
  border-radius: 10px;
	filter: invert(100%);
	transition: background-image 0.5s ease;
	cursor: pointer;
}


.hamburguer-button {
  background-image: url(../src/assets/full_burguer.svg);
}

.full-hamburguer-button {
  background-image: url(../src/assets/burguer.svg);
}



.channel-name{
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: xx-large;
  width: 100%;
  justify-content: space-between;
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 5%;
}

.more-options {
  position: absolute;
  right: 10px; 
  width:4%;
  height: 100%;
  background-image: url(../src/assets/moreoptions.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  filter: invert(100%);
}

.close-moreoptions{
  background-image: url(../src/assets/remove_friend.svg);
  position: absolute;
  right: 10px; 
  width:40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}

@media (max-width: 767px) {
	.hamburguer-button,
	.full-hamburguer-button 
	.more-options
	.close-moreoption{
	   width:20%;
	}
}


.leave-button{
  width:70px;
  height: 70px;
  background-image: url(../src/assets/leave.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  filter: invert(100%);
  border:none;
  position:absolute;
  bottom:0;
  right:0;
}

.leave-button:hover{
  cursor: pointer;
}

.more-options:hover{
  cursor: pointer;
}

.user-avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.usersInChannel{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.usersInChannel:hover{
  background-color: #555;
}


.userHeader{
  text-align: center;
  font-size: xx-large;
}


.submitform{
	display: flex;
}
.userInfo-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin: 10px 0;
  text-align: center;
  height: 100%;
  margin-top: 10%;
}

.userInfo {
  align-items: center;
  margin-left: 10px;
}

.userInfo p {
  margin: 5px 0;
}

.alone-user-avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

@media (prefers-color-scheme: light) {
  .channel-button,
  .people-button,
  .new-button,
  .search-button,
  .add-friend {
    filter: invert(100%);
  }
  .more-options,
  .hamburguer-button{
    filter: invert(0%);
  }
}